<script src="contact-us-summary.component.ts"></script>
<div class="page-container">
  <!-- Title -->
  <h2>Where We Are</h2>

  <!-- Short paragraph -->
  <div>
    <p>
      Discover advanced medical solutions designed for survival and resilience. From Stimpak for rapid wound healing to RadAway for detoxing radiation, our treatments keep you strong in any environment. Whether you need pain relief with Med-X, radiation resistance with Rad-X, or a cognitive boost from PartyTime Mentats, we have you covered.</p>
  </div>
  <!-- Button -->
  <app-button-contact-enquire></app-button-contact-enquire>
</div>
