
<mat-toolbar class=footer-container>
  <div class="logo-button">
    <a mat-button [routerLink] = "'/home'" class="logo-button" color="primary">
      <app-logo></app-logo>
    </a>
  </div>

  <div class="footer-copywrite">
    <p class="pull-right copyright"> &copy; 2025 Sydney Advanced Endocrinology</p>
    <p>All rights reserved | <a [routerLink]="'/sitemap'">Sitemap</a> | Made by <a href="https://dataalchemy.com.au/">DataAlchemy</a></p>
  </div>
  <div class = "navbar-separator">
    </div>
  <!--  <span class="navbar-separator"></span>-->
</mat-toolbar>
