@use '@angular/material' as mat;


.footer-container {
  @include mat.toolbar-overrides((
    title-text-font: var(--mat-sys-main-font-extra-small),
    title-text-size: var(--mat-sys-main-font-extra-small-size),
    title-text-weight: var(--mat-sys-main-font-extra-smallweight),
    title-text-line-height: var(--mat-sys-main-font-extra-small-line-height),
    title-text-tracking: var(--mat-sys-main-font-extra-smalltracking)
  ));
  gap: 16px;

  & {
    bottom: 0;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    //padding: 24px 16px 16px 0; /* Add horizontal padding */
    height: 100px; /* Adjust height as needed */
    //gap: 16px; /* Adds spacing between buttons */
    background-color: var(--mat-sys-secondary-background);
    .logo-container {
      flex: 0 0 auto;
      height: 100%; /* Maintains aspect ratio */
      display: inline-flex; /* Ensures the button wraps tightly around the SVG */
      //padding: 0; /* Removes any padding around the link */

      .button {
        //border: red solid 1px;
        border: none; /* Removes any default border */
        text-decoration: none; /* Removes underline from link */
        height: inherit;
        display: inline-flex;
        border-radius: 0; /* Remove rounded corners */
        margin: 0;
        padding-left: 0;
      }
    }

    .copyright {
      text-align: left;
      color: var(--custom-on-secondary);
      display: flex;
      flex-direction: column;
      justify-content: space-around; /* Distributes the rows evenly within the container */
      height: 100%;
      width: 100%;
      //border: white solid 1px;
      font: inherit;

      p {
        margin: 0; /* Remove default margin for paragraphs */
        //font-family : Roboto, sans-serif !important;
        //font-family: var(ma), sans-serif;
      }

      a {
        text-decoration: none !important; /* Force remove underline */
        font-style: normal;
        color: var(--custom-primary);
        //margin: 0 8px;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .navbar-separator {
      flex: 1 1 auto;
    }
  }
}
