<mat-divider></mat-divider>
<mat-toolbar class=footer-container>
  <div class="logo-container">
    <a mat-button [routerLink] = "'/home'" class="button" color="primary" >
      <app-logo-advanced></app-logo-advanced>
    </a>
  </div>

  <div class="mat-toolbar-container-text-small">
    <p>&copy; 2025 Sydney Advanced Endocrinology <br> All rights reserved &verbar; <a [routerLink]="'/sitemap'">Sitemap</a> &verbar; Made by <a href="https://dataalchemy.com.au/">DataAlchemy</a></p>
  </div>
  <div class = "navbar-separator">
    </div>
  <!--  <span class="navbar-separator"></span>-->
</mat-toolbar>
