
<!--  width="610"-->
<!--  height="138.564065"-->

<svg
  class = logo-svg
  viewBox="0,0,610,138.564065"
  xmlns="http://www.w3.org/2000/svg"
  preserveAspectRatio="xMinYMid meet">
  <!-- Triangle Logo -->
  <g >
    <polygon points="0,138.564065, 160,138.564065 80,0"
             fill="var(--custom-primary)" stroke="black" stroke-width="1"/>
    <polygon points="0,138.564065 140,138.564065 70, 17.3205081"
             fill="color-mix(in srgb, var(--custom-primary) 70%, white 30%)" stroke="black" stroke-width="1"/>
    <polygon points="0,138.564065 120,138.564065 60,34.6410162"
             fill="color-mix(in srgb, var(--custom-primary) 50%, white 50%)" stroke="black" stroke-width="1"/>
  </g>

  <!-- Text -->
  <g >
    <text x="120" y="13" font-size="45" font-weight="bold" font-family="Arial" text-anchor="start" dominant-baseline="hanging">SYDNEY ADVANCED</text>
<!--    <line x1="140" y1="62" x2="594" y2="62" stroke="var(&#45;&#45;mat-sys-on-secondary-background)" stroke-width="2" />-->
    <line x1="140" y1="62" x2="594" y2="62"></line>
    <text x="160" y="122" font-size="68"  font-family="Arial" text-anchor="start" dominant-baseline="auto">endocrinology</text>
  </g>
</svg>

