.site-detail-header {
  width: 100%;
  display: inline-flex;
  justify-content: center; /* Centers content horizontally */
  align-content: space-evenly;
  //position: relative;
  grid-column: span 3;
  flex-wrap: wrap; /* Allows divs to wrap if needed */
  height : fit-content;

  .address-container, .contact-container, .hours-container {
    flex: 1 1 300px; /* Responsive width with min size */
    text-align: left; /* Center text inside */

    p {
      //margin: 1px;
      display: flex;
      align-items: center; /* Align icons and text vertically */
      text-align: center;
    }
  }

  //@media (max-width: 768px) {
  //  flex-direction: column; /* Stack items on smaller screens */
  //}
}

.site-map-container{
  width: 100%;
  display: inline-flex;
  justify-content: left; /* Centers content horizontally */
  align-content: space-evenly;
  position: relative;
  grid-column: span 2;
  flex-wrap: wrap; /* Allows divs to wrap if needed */
  height : fit-content;
  gap: 20px;

  .map-container {
    flex: 1 1 300px; /* Responsive width with min size */
    //max-width: 300pt;
    width: fit-content;
    //max-height: 500px;

    .map, .map-image {
      object-fit: contain;
      width: 100%;
      text-align: left; /* Center text inside */
    }
  }
  //@media (max-width: 768px) {
  //  flex-direction: column; /* Stack items on smaller screens */
  //}
}
