<img src="https://via.placeholder.com/600x300" alt="Sample Image" class="image">
<h1>Contact Us</h1>
<div>
  <h2>Sydney Advanced Endocrinology</h2>
  <img src="https://via.placeholder.com/600x300" alt="Sample Image" class="image">
  <h3>St Vincents Clinic</h3>
  <p>We are located within st Vincent’s clinic next door to St Vincent’s Private Hospital on the corner of Oxford and
    Victoria Streets Darlinghurst.</p>
  <p><strong>Address</strong></p>
  <p>Suite xxxx<br>Level xxxx<br>438 Victoria St<br>Darlinghurst NSW 2010</p>
</div>
<div>
  <app-map></app-map>
</div>
<div>
  <!--<app-demomap></app-demomap>-->
  <h3>Contact</h3>
  <ul>
    <li>reception&#64;email.com</li>
    <li>(02)-xxx-xxx-xxxx</li>
    <li>(02)-xxx-xxx-xxxx</li>
  </ul>
  <div>
    <app-button-shared buttonType="enquire"></app-button-shared>
  </div>
</div>
<div>
  <h3>Hours</h3>
  <ul>
    <li>monday to friday 8:00 am - 5:30 pm</li>
    <li>public holidays closed</li>
  </ul>
</div>
<div>
  <h3>Transport</h3>
  <p>The clinic is easily accessible by car, public transport or on foot. The clinic is easily accessible by public transport.</p>
  <app-button-shared buttonText = "Find Out More" variant="flat" color="primary" buttonLink = "https://www.stvincentsclinic.com.au/getting-here/how-to-get-here"></app-button-shared>
<!--  <button mat-flat-button color="primary">Find Out More</button>-->
</div>
<div>
  <h3>Parking</h3>
  <p>Detailed parking information is available on the St Vincent's clinic website.</p>
  <app-button-shared buttonText = "Find Out More" variant="flat" color="primary" buttonLink = "https://www.stvincentsclinic.com.au/getting-here/parking"></app-button-shared>
</div>
