
.profile-detail-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-content: start;

  .profile-detail-header {
    width: 100%;
    display: inline-flex;
    align-content: space-between;
    grid-column: span 2;
    flex-wrap: wrap; /* Allows buttons to wrap if needed */
    .separator {
      flex: 1 1 auto;
    }
  }

  .button-container {
    justify-self: right;
    &-back {
      cursor: pointer; /* Changes cursor to pointer for better UX */
    }
  }

  .profile-detail-image-container {

    .profile-detail-image {
      height: 600px;
      width: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
  }

  .profile-detail-content {
    //grid-column: 1/1;
    //grid-row:2/2;
    //border: blue solid 1px;
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;

    .profile-detail-header {
      //border: green solid 1px;
    }

    .button-container {

      &-back {
      }
    }
    .profile-detail-image-container {
      order: -1; /* Moves image to the top */
      .profile-detail-image {
        height: 400px;
        width: 100%;
      }
    }
  }
}
