
$my-color: var(--mat-mdc-theme-primary);
$selector: primary;

.mat-card-header {
  //$main-color: $my-color;
  //background-color: $main-color;
  background-color: var(--custom-primary);
  color: var(--custom-on-primary);

  //color: white;
  //color: white;
}

.banner-logos {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5%; // Space between logos
  padding: 1%;
  flex-wrap: nowrap; // Prevents logos from breaking on small screens
  //background-color: var(--mat-mdc-theme-primary) !important;
  background: linear-gradient(90deg,  var(--custom-primary) , white 50%);
  height: 10vh; // The container's height scales with the viewport
  overflow: hidden;

  .logo {
    height: 100%;  // Uniform height
    width: auto;   // Maintain aspect ratio
    max-width: 25%; // ✅ Ensures logos scale with screen width
    object-fit: contain;
  }
}



