<div class="page-container">
  <!-- Image -->
  <img src="https://via.placeholder.com/600x300" alt="Sample Image" class="image">

  <!-- Title -->
  <h2 class="mat-headline-1">About Us</h2>

  <!-- Short paragraph -->
  <div>
  <p class="description">
    At {{clinicName}}, our expert endocrinologists specialize in diagnosing
    and treating hormone-related conditions like diabetes, thyroid disorders,
    and metabolism issues. We are committed to providing compassionate,
    personalized care using the latest advancements in endocrinology to help you
    achieve better health and well-being.  </p>
  </div>
  <!-- Button -->
  <div class = button-container>
  <button mat-flat-button color="secondary">Contact Us</button>
  <button mat-flat-button color="primary">Enquire</button>
  </div>
</div>
