<div class="page-container">
  <!-- Image -->
<!--  <mat-card class = "mat-card-header">-->
<!--    <img src = "./assets/Carousel/image1.jpeg" alt="Sydney Advanced Endocrinology Team" class="image">-->
<!--      <div class = "banner-logos">-->
<!--        <img  src="./assets/st-vincents-clinic-logo.png" alt="Clinic Logo" class="logo"/>-->
<!--        <img  src="./assets/StVincentsPrivateHosp-logo.png" alt="Hospital Logo" class="logo"/>-->
<!--      </div>-->
<!--  </mat-card>-->
    <app-banner-logo imageSrc="./assets/Carousel/image1.jpeg" ></app-banner-logo>
  <!-- Title -->

  <h2>About Us</h2>

  <!-- Short paragraph -->
  <div>
  <p class="description">
    At {{clinicName}}, our expert endocrinologists specialize in diagnosing
    and treating hormone-related conditions like diabetes, thyroid disorders,
    and metabolism issues. We are committed to providing compassionate,
    personalized care using the latest advancements in endocrinology to help you
    achieve better health and well-being.  </p>
  </div>
  <!-- Button -->
  <app-button-contact-enquire></app-button-contact-enquire>
</div>
