
<mat-toolbar  class=fixed-header>
<!--  <span>-->
  <div class = logo-container>
  <button mat-button [routerLink] = "'/home'" class="button" color="primary">
    <app-logo></app-logo>
  </button>
  </div>
<!--  </span>-->
<!--  <span class="navbar-separator"></span>-->
  <span class="nav-buttons">
<!--    <button mat-button routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page" >About Us</button>-->
<!--    <button mat-button routerLink="/our-team" routerLinkActive="active" ariaCurrentWhenActive="page">Our Team</button>-->
<!--    <button mat-button routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</button>-->
<!--    <button mat-button routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</button>-->
<!--    <button mat-flat-button color="primary" routerLink="/enquire" >Enquire</button>-->

    <app-button-shared buttonType="about-us" variant="basic" color = 'default' ></app-button-shared> <!-- Forces flat -->
    <app-button-shared buttonType="our-team" variant="basic" color = 'default'></app-button-shared> <!-- Forces flat -->
    <app-button-shared buttonType="services" variant="basic" color = 'default'></app-button-shared> <!-- Forces flat -->
    <app-button-shared buttonType="contact-us" variant="basic" color = 'default'></app-button-shared> <!-- Forces flat -->
    <app-button-shared buttonType="enquire" variant="flat" color="primary"></app-button-shared> <!-- Forces flat -->

    <!--    <button mat-button [matMenuTriggerFor]="menu" >-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
   </span>
</mat-toolbar>

