
.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100% !important;
  //min-height: 70px !important;
  height: 80px !important;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space logo and buttons apart */
  padding: 24px 16px 24px 0; /* Add horizontal padding */

  .logo-button {
    display: inline-block; /* Ensures the button wraps tightly around the SVG */
    padding: 0; /* Removes any padding around the link */
    border: none; /* Removes any default border */
    text-decoration: none; /* Removes underline from link */
    height: inherit; /* Maintains aspect ratio */

    app-logo {
      display: block;
      cursor: pointer; /* Changes cursor to pointer for better UX */
      overflow: hidden;
      border: none; /* Removes any default border */
    }
  }

  .navbar-separator {
    flex: 1 1 auto;
  }

  .nav-buttons {
    display: flex; /* Use flexbox to align buttons */
    //flex-direction: row;
    gap: 16px; /* Adds spacing between buttons */
    justify-content: space-between; /* Centers the buttons horizontally */
    align-items: center; /* Aligns buttons vertically */
    flex-wrap: wrap; /* Allows buttons to wrap if needed */
    cursor: pointer; /* Changes cursor to pointer for better UX */

  }
}
