<a [routerLink] = "'/home'">
  <img class="brand-logo" ngSrc="/assets/logo.svg" alt="logo" aria-hidden="true" height="100" width="300"/>
</a>
<!--<nav>-->
<button><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></button>
<button><a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a></button>
<button><a routerLink="/doctors" routerLinkActive="active" ariaCurrentWhenActive="page">Doctors</a></button>
<button><a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></button>
<!--</nav>-->
