@use '@angular/material' as mat;

.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100% !important;
  //min-height: 70px !important;
  height: fit-content !important;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space logo and buttons apart */
  //padding: 24px 16px 24px 0; /* Add horizontal padding */
  background-color: var(--mat-sys-secondary-background);
  padding: 0 !important;


  .logo-container {
    flex: 0 0 auto;
    height: 100%; /* Maintains aspect ratio */
    display: inline-block; /* Ensures the button wraps tightly around the SVG */

    .button {
      border: none; /* Removes any default border */
      //border: #0b5528 2pt solid;
      text-decoration: none; /* Removes underline from link */
      height: inherit;
      display: flex;
      padding: 0;
      margin: 0;
      border-radius: 0; /* Remove rounded corners */
      align-items: start;
    }
  }

  .nav-buttons {
    display: flex; /* Use flexbox to align buttons */
    //flex-direction: row;
    gap: 2px; /* Adds spacing between buttons */
    justify-content: space-between; /* Centers the buttons horizontally */
    align-items: center; /* Aligns buttons vertically */
    flex-wrap: wrap; /* Allows buttons to wrap if needed */
    cursor: pointer; /* Changes cursor to pointer for better UX */

  }

  .burger-menu {
    display: none; // Hidden by default on larger screens
  }

/* Responsive Styles */
@media (max-width: 850px) {
  .nav-buttons {
    display: none; // Hide nav buttons on mobile
  }

  .burger-menu {
    display: flex; // Show burger menu on mobile
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 8px;

    mat-icon {
      font-size: 24px;
      color: var(--custom-primary);
    }
  }
}
}

/* Show nav buttons and hide burger menu on large screens */
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

/* Remove any fixed height from the sidenav container so the header stays natural */
mat-sidenav-container {
  width: 100%;
  z-index: 9999 !important;
}


/* Set a fixed width for the mobile sidenav */
.mobile-sidenav {
  width: 250px;
  z-index: 10000 !important;
  border-radius: 0;
}
/* Container for the close button */
.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}
