.button-container{
  width: fit-content;
  display: flex; /* Use flexbox to align buttons */
  gap: 8px;
  align-items: center; /* Aligns buttons vertically */
  flex-wrap: wrap; /* Allows buttons to wrap if needed */
  justify-content: space-between; /* Centers the buttons horizontally */
}
