<!--<div>-->
<!--  <button mat-flat-button routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page" color="primary">Contact Us</button>-->
<!--  <button mat-flat-button routerLink="/enquire" routerLinkActive="active" ariaCurrentWhenActive="page" color="primary">Enquire</button>-->
<!--</div>-->
<div>
<!--<app-button-contact-us></app-button-contact-us>-->
<!--<app-button-enquire></app-button-enquire>-->
  <app-button-shared buttonType="contact-us" variant="flat" color="primary"></app-button-shared> <!-- Forces flat -->
  <app-button-shared buttonType="enquire" variant="flat" color="primary"></app-button-shared> <!-- Forces flat -->

<!--  <app-shared-button text="Contact Us" link="/contact-us" variant="flat"></app-shared-button>-->
<!--  <app-shared-button text="Enquire" link="/Enquire" variant="raised"></app-shared-button>-->
</div>
