:host {
  display: flex;
  height: 100%; // Ensures `app-service-card` expands inside grid
}

.service-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; // Allows content to expand
  height: 100%; // Ensures uniform height

  &-image {
    background-size: cover;
  }

  &-content{
    flex-grow: 1; // Pushes content to fill available space
  }
}

