<google-map
  height="400px"
  width="750px"
  [options]="mapOptions"
  class = "map-container"
  (mapInitialized)="onMapReady($event)">
  <map-marker
    #marker="mapMarker"
    [position]= "markerPosition"
    [title]="markerLabel"
    (mapClick)="openInfoWindow(marker)" >
  </map-marker>

<!--  <map-info-window>-->

<!--  </map-info-window>-->
  <map-info-window #infoWindow>
    <strong>{{ markerLabel }}</strong><br><br>
    {{ markerAddress}} <br> {{markerSuburb}}<br>
    <a [href]="googleMapsLink" target="_blank">
      Open in Google Maps
    </a>

  </map-info-window>

  </google-map>

<button mat-flat-button class = "reset-map-button" (click)="mapReset()">Reset Map</button>
<!--https://maps.googleapis.com/maps/api/staticmap?center=st+vincents+clinic,sydney,nsw&zoom=15-->
<!--&markers=st+vincents+clinic,sydney,nsw-->
<!--&visible=st+vincents+clinic,sydney,nsw%&size=512x512&key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k-->

<!--"https://maps.googleapis.com/maps/api/staticmap?center=st+vincents+clinic,sydney,nsw&zoom=15-->
<!--&size=600x300&maptype=roadmap-->
<!--&markers=color:purple%7C-33.881014168577316,151.21924554206254-->
<!--&key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k-->
<!-- -33.881014168577316, lng: 151.21924554206254};-->
<!--<div *ngIf="apiLoaded | async" fxFill >-->


<!--<script async-->
<!--src="https://places.googleapis.com/v1/places/ChIJbZZeexCuEmsR5Z-S7V_Xxhs?fields=id&key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k">-->
<!--</script>-->
<!--<google-map [options]="options" />-->
<!--<google-map [center]="center" [zoom]="zoom" />-->
<!--<script async-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k&loading=async&callback=initMap">-->
<!--</script>-->
<!--<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k&callback=console.debug&libraries=maps,marker&v=beta">-->

<!--<img src = "https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap-->
<!--&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318-->
<!--&markers=color:red%7Clabel:C%7C40.718217,-73.998284-->
<!--&key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k" alt = "map">-->

<!--"https://maps.googleapis.com/maps/api/staticmap?center=st+vincents+clinic,sydney,nsw&zoom=15-->
<!--&size=600x300&maptype=roadmap-->
<!--&markers=color:purple%7C-33.881014168577316,151.21924554206254-->
<!--&key=AIzaSyAorirqFuc79MmZhKnZ7Q1NXUZ6o4l9I-k-->
<!-- -33.881014168577316, lng: 151.21924554206254};-->
<!--<div *ngIf="apiLoaded | async" fxFill >-->

<!--  (mapClick)="moveMap($event)"-->
<!--  (mapMousemove)="move($event)">-->
  <!--  [center]="center"-->
  <!--  [zoom]="zoom"-->
<!--</div>-->

<!--<div>Latitude: {{display?.lat}}</div>-->
<!--<div>Longitude: {{display?.lng}}</div>-->

