@use '@angular/material' as mat;
@use "themes/styles_theme-purple-colors" as theme-colors;
//@use "themes/styles_theme-green-colors" as theme-colors;
//@use "themes/styles_theme-st-vincents-colors" as the-colors;

//$custom-primary: theme-colors.$primary-palette;
//$custom-tertiary theme-colors.$tertiary-palette;

 //Define the Material theme
$custom-theme: mat.define-theme(
    (
      color: (
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: quicksand,
        brand-family: oswald,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: (
        scale: 0,
      ),
    )
  );
// Manually set CSS variables
//:root {
//  --custom-primary: #{mat.get-theme-color($custom-theme, primary)};
//  --custom-on-primary: #{mat.get-theme-color($custom-theme, on-primary)};
//}
