<!--<div class="section-container">-->
<!--  &lt;!&ndash; Title &ndash;&gt;-->
<!--  <h2>About Us</h2>-->

<!--  &lt;!&ndash; Short paragraph &ndash;&gt;-->
<!--  <div>-->
<!--    <p class="description">-->
<!--      At {{clinicName}}, our expert endocrinologists specialize in diagnosing-->
<!--      and treating hormone-related conditions like diabetes, thyroid disorders,-->
<!--      and metabolism issues. We are committed to providing compassionate,-->
<!--      personalized care using the latest advancements in endocrinology to help you-->
<!--      achieve better health and well-being. </p>-->
<!--  </div>-->
<!--  &lt;!&ndash; Button &ndash;&gt;-->
<!--  <div class = button-container>-->
<!--&lt;!&ndash;    <button mat-flat-button color="primary">Find Out More</button>&ndash;&gt;-->
<!--    <app-button-shared buttonText = "Find out More" buttonType="about-us" variant="flat" color="primary"></app-button-shared>-->
<!--&lt;!&ndash;    <app-shared-button text="Custom Button" link="/custom" variant="raised"></app-shared-button>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<mat-card class="summary-card">
  <mat-card-header>
    <mat-card-title>About Us</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <p class="description">
      At {{clinicName}}, our expert endocrinologists specialize in diagnosing
      and treating hormone-related conditions like diabetes, thyroid disorders,
      and metabolism issues. We are committed to providing compassionate,
      personalized care using the latest advancements in endocrinology to help you
      achieve better health and well-being.
    </p>
  </mat-card-content>
  <mat-card-actions align="start" class = "button">
    <app-button-shared buttonText="Find out More" buttonType="about-us" variant="flat" color="primary"></app-button-shared>
  </mat-card-actions>
</mat-card>
