<h3>Privacy Policy</h3>
<p>
Our policy for dealing with any personal information that you might disclose to us while visiting this website is explained below.

The types of personal information that we collect from you will depend on how you use our website. You can be certain that the information we receive about you will be treated as strictly confidential.

We do not collect or use any personal information on visitors to our website, through the use of third party cookies or other software or hardware techniques. Google Analytics uses first party cookies to anonymously and in aggregate report on visits to this website. This may include the number of hits the website receives and the domains from which this website is accessed. To determine what our users are interested in, we may also look at the frequency of search words used in connecting you to this website.

If you log onto the website and read or download information: our Internet Service Provider/Hosting Provider will record your server address, domain name, the date and time of your visit to our website, the pages viewed and the information downloaded. This information is used for statistical and website development purposes only.

It is our policy not to sell or pass on any personal information that you may have provided to us unless we have your express consent to do so. An exception to this is where we may be required by law to disclose certain information.
</p>
