
.service-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Responsive layout
  margin-top: 50px;
  align-items: stretch; // Forces items to take equal height
}

app-service-card {
  display: flex;
  height: 100%; // Ensures the component itself stretches
}

//@media (min-width: 500px) and (max-width: 768px) {
//  .results {
//    grid-template-columns: repeat(2, 1fr);
//  }
//  input[type="text"] {
//    width: 70%;
//  }
//}
//@media (max-width: 499px) {
//  .results {
//    grid-template-columns: 1fr;
//  }
//}
