.logo-svg {
  width: 230px;
  height: 70px;
  float: left;
  text-align: left;
  font-family: arial, sans-serif !important;
  fill: none;
  //transform: scale(1,1);

  .main {
    font-size: 24px;
    font-weight: bold;
    fill: currentcolor;
    //fill: var(--mat-sys-tertiary);
    //fill: blue;
  }

  .sub {
    font-size: 18px;
    //fill: var(--mat-sys-primary);
    fill: currentcolor;
  }
}
