.logo-svg {
  width: 230px;
  height:70px;
  float: left;
  text-align: left;
  font-family: arial, sans-serif;
  fill: none;
  transform: scale(1,1);
}

.main {
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  fill: currentcolor;
}
.sub {
  font-family: arial, sans-serif;
  font-size: 18px;
  fill: currentcolor;

}
