<mat-card class = "mat-card-header">

  <div class="image-container">
    <img [src]="imageSrc" alt="Sydney Advanced Endocrinology Team"
         class="image">
  </div>
  <div class="banner-container">

    <div class="tagline">
      <h3>Sydney’s Leaders in Advanced Endocrine Care</h3>
    </div>

  <div class = "banner-logos">
    <img  src="./assets/StVinClin/st-vincents-clinic-logo.png" alt="Clinic Logo" class="logo"/>
    <img  src="./assets/StVinClin/StVincentsPrivateHosp-logo.png" alt="Hospital Logo" class="logo"/>
  </div>

  </div>
</mat-card>
