
$image-max-height: 600px; // ✅ Limits image height

.mat-card-header {
  background-color: var(--custom-primary);
  color: var(--custom-on-primary);
}

.banner-container {
  display: flex;
  align-items: center; // ✅ Ensures logos and tagline are aligned
  justify-content: space-between; // ✅ Spreads logos on the left & tagline on the right
  width: 100%;
  background: linear-gradient(75deg,  var(--custom-primary) 0% 40%, white 70%);

  .banner-logos {
    display: flex;
    align-items: center;
    column-gap: 10px; // ✅ Adds space between logos
    justify-content: end;
    flex-wrap: wrap;

    .logo {
      height: 80px;  // Uniform height
      width: auto;   // Maintain aspect ratio
      max-width: 50%; // ✅ Ensures logos scale with screen width
      object-fit: contain;
    }
  }

  .tagline {
    text-align: left; // ✅ Aligns text to the left
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--custom-on-primary);
    max-width: 50%; // ✅ Prevents tagline from taking up too much space
    padding: 1%;
  }
}

.image-container {
  width: 100%;
  height: 600px;
  border-radius: 0; // corners pointy
  overflow: hidden;
  position: relative;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures the image fills the space without stretching
    object-position: 50% 25%; // Centers the image while zooming if needed
    position: relative;
  }
}


@media (max-width: 600px) {

  .image-container {
    height: 300px; // Adjust image height for small screens
  }

  @media (min-width: 1200px) {

    .image-container {
      height: 800px; // Adjust image height for large screens
    }
  }
}
