<!--<div class="section-container">-->
<!--  &lt;!&ndash; Title &ndash;&gt;-->
<!--  <h2>Our Services</h2>-->

<!--  &lt;!&ndash; Short paragraph &ndash;&gt;-->
<!--  <div>-->
<!--    <p class="description">-->
<!--      We are located in St Vincent's Clinic.</p>-->
<!--  </div>-->
<!--  <app-button-shared buttonType="services" buttonText="Find Out More"></app-button-shared>-->
<!--</div>-->


<mat-card class="summary-card">
  <mat-card-header>
    <mat-card-title>Our Services</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <p class="description">
      Discover advanced medical solutions designed for survival and resilience. From Stimpak for rapid wound healing to RadAway for detoxing radiation, our treatments keep you strong in any environment. Whether you need pain relief with Med-X, radiation resistance with Rad-X, or a cognitive boost from PartyTime Mentats, we have you covered.
    </p>
  </mat-card-content>
  <mat-card-actions align="start" class = "button">
      <app-button-shared buttonType="services" buttonText="Find Out More"></app-button-shared>
  </mat-card-actions>
</mat-card>
