<!--<div class="slides">-->
<div class="slides" *ngIf="slides.length > 0; else loadingPlaceholder">
  <div
    class="slide"
    [ngStyle]="{
      'background-image': 'url(' + slides[currentSlide].url + ')',
      opacity: hidden ? 0 : 1,
      transition: 'opacity ' + animationSpeed + 'ms ease-in-out'
    }"
  ></div>

  @if (indicatorsVisible) {
    <div id="indicators">
      @for(slide of slides; track $index; ){
        <div
          (click)="jumpToSlide($index)"
          class="indicator"
          [ngClass]="{ active: $index == currentSlide }"
        ></div>
      }
    </div>
  }

  <button (click)="next()" class="nextButton">
    <mat-icon aria-hidden="false" aria-label="previous slide" fontIcon="navigate_next"></mat-icon>
  </button>
  <button (click)="previous()" class="previousButton">
    <mat-icon aria-hidden="false" aria-label="Next slide" fontIcon="navigate_before"></mat-icon>
  </button>
</div>

<ng-template #loadingPlaceholder>
  <p>Loading slides...</p> <!-- Placeholder text while loading -->
</ng-template>
