<!--<div class="section-container">-->
<!--  &lt;!&ndash; Title &ndash;&gt;-->
<!--  <h2>Our Team</h2>-->

<!--  &lt;!&ndash; Short paragraph &ndash;&gt;-->
<!--  <div>-->
<!--    <p class="description">-->
<!--      We are a team of highly passionate endocrinologists dedicated to providing the highest quality of care.-->
<!--    </p>-->
<!--  </div>-->
<!--  <app-button-shared buttonType="our-team"  buttonText="Find Out More"></app-button-shared>-->
<!--</div>-->

<mat-card class="summary-card">
  <mat-card-header>
    <mat-card-title>Our Team</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <p class="description">
      We are a team of highly passionate endocrinologists dedicated to providing the highest quality of care.
    </p>
  </mat-card-content>
  <mat-card-actions align="start" class = "button">
    <app-button-shared buttonType="our-team"  buttonText="Find Out More"></app-button-shared>
  </mat-card-actions>
</mat-card>
